/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes. All rights reserved.
 * See COPYING.txt for license details.
 */
/* For backwards compatibility */

.flex-columns-wrapper {
    @apply flex flex-col;

    @screen md {
        @apply flex-row;
    }
}
