/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes. All rights reserved.
 * See COPYING.txt for license details.
 */
/* .modal {} */

.backdrop {
    @apply fixed inset-0 flex bg-black bg-opacity-25;
}
