/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes. All rights reserved.
 * See COPYING.txt for license details.
 */
.wishlist-widget .price-box {
    & .price-label,
    & .old-price {
        @apply sr-only;
    }
}
