@utility container {
    margin-inline: auto;
    padding-inline: --spacing(6);
}

@layer components {
    :where(body:not(.product-main-full-width, .page-main-full-width)) {
        & .columns {
            @apply container;
        }
    }
}
