/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes. All rights reserved.
 * See COPYING.txt for license details.
 */
.table-row-items > div.table-row-item {
    @apply bg-container-darker;

    &:nth-child(2n + 1) {
        @apply bg-container-lighter;
    }
}
