/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes. All rights reserved.
 * See COPYING.txt for license details.
 */
body > div > div.grecaptcha-badge {
    @apply hidden;
    @apply h-0 !important;
    @apply w-0 !important;
}
