/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";

@import url(components/theming.css);
@import url(components/product-page.css);
@import url(components/messages.css);

/* purgecss end ignore */

@import "tailwindcss/utilities";
